<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Login</title>
</head>

<body>
    <%-include('../partials/navlogged') %>

        <div class="container my-4">
            <%if(typeof arr !='undefined' ){ %>
                <h6 class="text-center">MR/MRs <%=arr['username']%>.</h6>
                <% }%>
                    <h3 class="text-center">Here are your available tickets</h3>
        </div>

        <div class="card shadow mb-4 my-2">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-info text-center">Ticket List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Reservation ID</th>
                                <th>Train Name</th>
                                <th>Departure</th>
                                <th>Destination</th>
                                <th>Departure Date</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                                <th>Generate QR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.rows.forEach(function(data) { %>
                                <tr>
                                    <td>
                                        <%= data.reservationid %>
                                    </td>
                                    <td>
                                        <%= data.trainname %>
                                    </td>
                                    <td>
                                        <%= data.departure %>
                                    </td>
                                    <td>
                                        <%= data.destination %>
                                    </td>
                                    <td>
                                        <%= data.departuredate.toISOString().slice(0, 10)%>
                                    </td>
                                    <td>
                                        <%= data.departuretime.toISOString().slice(11, 16)%>
                                    </td>
                                    <td>
                                        <%= data.arrivaltime.toISOString().slice(11, 16)%>
                                    </td>
                                    <td>
                                        <form action="/user/showqr" method="post">
                                            <input type="hidden" maxlength="50" class="form-control" 
                                            id="reservationid" name="reservationid" aria-describedby="emailHelp" value=<%=data.reservationid %> required>
                                            <button type="submit" class="btn btn-success">Generate Ticket</button><br><br>
                                        </form>
                                        
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>







        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
            </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
            </script>
</body>

</html>